<div class="info">
  <h1> {{ newTitle }} </h1>
  <p>Cantidad de artículos agregados: {{ shoppingCart.length }}</p>
  <p>Total: {{ total }} </p>
  <p>
    {{ today | date: 'short' }}
  </p>
  <button *ngIf="userMode === 'admin'" (click)="createNewProduct()">Create</button>
</div>

<button (click)="showDetail('j12')">Product error</button>

<div class="products-grid">
  <app-product (detailShown)="showDetail($event)" (addedProduct)="addedProduct($event)"
    *ngFor="let product of products; index as i" [product]="product" [isAddProduct]="true" [productIndex]="i">
  </app-product>

  <button (click)="onLoadMore()">Load More</button>
</div>

<div class="product-detail" *ngIf="showProductDetail" [class.active]="showProductDetail">
  <p class="close-detail" (click)="toggleProductDetail()">X</p>

  <div>

    <app-product
    [product]="productChoosen"
    [isAddProduct]="true"
    [showSlider]="true"
    (addedProduct)="addedProduct($event)"
    [statusDetail]="statusDetail"
    >
    </app-product>

    <div class="product-config-buttons" *ngIf="userMode === 'admin'">
      <button class="button button__blue" (click)="updateProduct()">Edit</button>
      <button class="button button__red" (click)="deleteProduct()">Delete</button>
    </div>

  </div>
</div>
