p, h2 {
  margin-top: 1rem;
}

.product {
  margin-bottom: 4rem;
  width: 100%;
}

.product-title {
  font-weight: bold;
  line-height: 26px;
}

.product-button {
  margin-top: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: #ACD9B2;
  color: white;
  padding: 0.8rem;
  border-radius: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}
