.login-form {

  div {
    width: 40%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: auto;
    place-content: center;
    grid-template-areas:
    "title title ";

    h1 {
      grid-area: title;
      //background-color: red;
      text-align: center;
    }

    .button {
      width: 60%;
      margin: auto;
    }


  }

}
