p, h2 {
  padding-top: 1rem;
}

.card-product__body {
  //background-color: rgba(0, 0, 0, 0.1);
  background-color: #F7F7F7;
  padding: 1rem;
}

.card-product {
  margin-bottom: 4rem;
  width: 100%;
  position: relative;
}

.card-product__title {
  font-weight: bold;
  line-height: 26px;
}

.card-product__delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0px;
  right: 0px;
  color: white;
  background-color: red;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}
