/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url(./styles/reset.scss);
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';


* {
  font-family: 'Quicksand', 'sans-serif';
}

.products-grid {
  app-img {
    img {
      border-radius: 10px;
    }
  }
}

.product-button {
  width: 100%;
  margin-top: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: #ACD9B2;
  color: white;
  padding: 0.8rem;
  border-radius: 4px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.product-button__red {
  background-color: #D92525;
}

.product-button__blue {
  background-color: #164773;
}

.product-button__very-light-pink {
  background-color: rgba(199, 199, 199, 1);
}
